body {
    background: rgb(191, 160, 241);
}

.card {
    background-color: rgb(237, 207, 232);
}

.card-header {
    background-color: rgb(213, 92, 215);
    font-size: 20px;
}

.btn {
    height: 60px;
    width: 150px;
    background-color: rgb(237, 101, 216);
    font-size: 20px;
    margin: 20px;
    border: rgb(136, 7, 113) solid;
    border-radius: 5%;
}

span {
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(117, 19, 93);
}